/* Create the parallax scrolling effect for all pages */

.body-contact {
    background-image: url("img/telephone.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
  }

/* Formulaire */

#contactUS {
    color: #1FB2AF;
    margin: 1rem 20rem 0 0;
}

.formulaire-contact {
  /*display: flex;
  flex-direction: row;
  align-items: center;*/
  padding-left: 40rem;
}

#formulaire {
  display: flex;
  flex-direction: row;
}

form ul {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

form div { margin: 2em; }

li input {
  width: 85%;
  padding: 10px;
  margin: 1.5em;
  border: none;
 }

textarea {
  height: 15em;
  border-radius: 5px;
  margin: 1em;
  padding: 2em;
}

#envoyer {
  padding: 1em;
  color: #000;
  background-color: transparent;
  width: 100%;
}

#nom:hover, #prenom:hover, #email:hover, #motif:hover {
  background-color: rgb(196, 187, 187);
}

#envoyer:hover {
  background-color: #1FB2AF ;
  color: #fff;
}

.parallax-up-contact {
  width: auto;
  height: 900px;
  background-color: #f4f4f4;
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
  color: #1fb1ae;
}

.parallax-2-contact {
  width: auto;
  height: 200px;
  background-color: #1fb1ae;
  clip-path: polygon(0 0%, 100% 90%, 100% 100%, 0 100%);
  margin-top: -180px;
}

#erreur { color:red; }

.adresse {
  width: 30%;
  padding-left: 7%;
  text-align: center;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {

  /*#callUs { color: #fff; }*/

  #contactUS { padding-left: 16rem; }

  .parallax-up-contact {
    width: auto;
    background-color: #f4f4f4;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
    color: #1fb1ae;
    height: 970px;
  }
  
  .adresse { width: 100%; padding-left: 0%;}
  
  .formulaire-contact {
    width: 100%;
    display: block;
    align-items: center;
    padding: 0;
  }
  
  form ul { display: block; list-style-type: none; }
  
  ul div { margin: 0; }
  
  textarea { margin: 1em; padding: 0; }
  
  .parallax-2-contact {
    width: auto;
    height: 100px;
    background-color: #1fb1ae;
    background-image: url("fond-bleu-2.png");
    clip-path: polygon(0 0%, 100% 30%, 100% 100%, 0 100%);
    margin-top: -50px;
    }
  }
  
  