/* Create the parallax scrolling effect for all pages */

.body-contact {
    background-image: url("img/telephone.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
  }

/* Formulaire */

.title-contact {
    color: #1FB2AF;
    background-color:#fff;
    text-align: center;
}

#formulaire {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
}

form ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

form div { margin: 3em; }

li input {
  width: 100%;
  padding: 10px;
  margin: 1.5em;
  border: none;
  border-bottom: 1px solid;
 }

textarea {
    height: 20em;
    border-radius: 5px;
    margin: 1em;
    padding: 2em;
}

#envoyer {
    padding: 1em;
    color: #000;
    background-color: transparent;
    width: 100%;
}

#nom:hover, #prenom:hover, #email:hover, #motif:hover {
    background-color: rgb(196, 187, 187);
}

#envoyer:hover {
    background-color: #1FB2AF ;
    color: #fff;
}

.parallax-up-contact {
  width: auto;
  height: 900px;
  background-color: #f4f4f4;
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
  color: #1fb1ae;
}

.parallax-2-contact {
  width: auto;
  height: 200px;
  background-color: #1fb1ae;
  clip-path: polygon(0 0%, 100% 90%, 100% 100%, 0 100%);
  margin-top: -180px;
}

.formulaire-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.adresse {
  width: 30%;
  padding-left: 7%;
  text-align: center;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
    body {
      text-align: center;
    }

    #callUs {
        color: #fff;
    }
  
    .texte { 
      z-index: -1000;
      height: auto;
      width: auto;
      padding: 5rem 2rem;
      line-height: 20px;
      font-weight: 600;
      text-align: start;
    }
    
    .parallax-up-home {
      clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
      height: auto;
    }
  
    .sous-titre { width: 100%; }
  
    .parallax-up-home p {
      text-align: justify;
      padding: 0 1rem;
      font-size: 1rem;
      line-height: 20px;
    }
   
    .wrap-soustitre-home { display: block; }
  
    .titre-contenu {
      padding: 90px 0px 20px 0px;
      font-size: 30px;
      text-align: center;
    }
    
    .contenu-home { display: block; padding-top: 2rem; }
    
    .contenu-home p { width: auto; padding: 2rem 2rem 5rem 2rem; }
  
    .image-contenu { width: 100%; padding: 0px 0px 5px 0px; }
      
    .parallax-2-home {
        width: auto;
        height: 80px;
        background-color: #f4f4f4;
        clip-path: polygon(0 0%, 100% 40%, 100% 100%, 0 100%);
        margin-top: -45px;
    }
  
    .parallax-up-home {
      clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
      height: auto;
    }
  
    .parallax-up {
      clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100%);
      height: auto;
    }
  
    .parallax-up p {
      text-align: justify;
      padding: 0 1rem;
      font-size: 1rem;
      line-height: 20px;
    }
  
    .parallax-up-home {
      clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
      height: auto;
    }
  
    .titre-contenu {
      padding: 90px 0px 20px 0px;
      font-size: 30px;
      text-align: center;
    }
  
  .flexbox-entreprises { display: block; }
  
  .section-entreprises { width: auto; }
  
  .parallax-2 {
      clip-path: polygon(0 0%, 100% 40%, 100% 100%, 0 100%);
      margin-top: -90px;
      height: 100px;
  }
  
  .parallax-2-resa {
      width: auto;
      height: 800px;
      background-color: #f4f4f4;
      background-image: url("fond-bleu-2.png");
      clip-path: polygon(0 0%, 100% 8%, 100% 100%, 0 100%);
      margin-top: -60px;
  }
  .resa { padding: 90px 2rem 20px 2rem; text-align: center; }

  .text-resa {
    text-align: center;
    font-size: 13px;
    padding: 0px 2rem 0px 2rem;
    width: auto;
  }
  
  .parallax-up-contact {
    width: auto;
    background-color: #f4f4f4;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
    color: #1fb1ae;
    height: 970px;
  }
  
  .adresse { width: 100%; padding-left: 0%;}
  
  .formulaire-contact {
    width: 100%;
    display: block;
    align-items: center;
    padding: 0;
  }
  
  form ul { display: block; list-style-type: none; }
  
  ul div { margin: 0; }
  
  textarea { margin: 1em; padding: 0; }
  
  li input { width: auto; }
  
  .parallax-2-contact {
    width: auto;
    height: 100px;
    background-color: #1fb1ae;
    background-image: url("fond-bleu-2.png");
    clip-path: polygon(0 0%, 100% 30%, 100% 100%, 0 100%);
    margin-top: -50px;
    }
  }
  
  