/* Create the parallax scrolling effect for all pages */

.body-showroom {
    background-image: url("img/showroom.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}
  
/* réservation */

.resa {
    padding: 90px 0px 20px 50px;
    font-size: 30px;
    text-align: left;
    color: #3d3d3d;
  }

.text-resa {
    text-align: left;
    font-size: 13px;
    padding: 0px 0px 0px 50px;
    font-style: italic;
    width: 40%;
    color: #3d3d3d;
}

.parallax-2-resa {
    width: auto;
    height: 800px;
    background-color: #f4f4f4;
    clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0 100%);
    margin-top: -250px;
}

.table-calendrier {
  box-shadow: 5px 5px 5px rgba(31,178,175);
  border-radius: 10px;
  overflow: hidden;
  width: 70%;
  margin: 20px 0px 0px 50px;
}
.calendrier {
  background-color: #F6F6F6;
  padding: 2em;
  width: 100%;
}
.calendrier caption {
  background-color:#1FB2AF ;
  color: #F6F6F6;
  text-align: left;
  padding: 30px 20px;
  font-size: 200%;
  text-transform: uppercase;
  line-height: 0.9;
}
.calendrier thead th {
  text-transform: uppercase;
  color: #2B1C43;
}
.calendrier td, .calendrier th {
  text-align: center;
  padding: 0.8em;
}
.calendrier .huge {
  font-size: 200%;
  display: block;
}
.day {
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  padding: .5em;
  border-radius: 100%;
  transition: all .5s;
}
.day:hover {
  cursor: pointer;
  background-color: #1FB2AF;
  border-radius: 0;
  color: #f6f6f6;
}
.current {
  background-color:#2B1C43 ;
  color: #f6f6f6;
}

@media screen and (max-width: 768px) {
 
  .parallax-2-resa {
      width: auto;
      height: 800px;
      background-color: #f4f4f4;
      background-image: url("fond-bleu-2.png");
      clip-path: polygon(0 0%, 100% 8%, 100% 100%, 0 100%);
      margin-top: -60px;
  }
  .resa { padding: 90px 2rem 20px 2rem; text-align: center; }

  .text-resa {
    text-align: center;
    font-size: 13px;
    padding: 0px 2rem 0px 2rem;
    width: auto;
  }
}

