body {
    
}
.parallax::before {
    content:"";
    display:block;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    z-index:-1;
    background-image: url("./images/mani.jpg");
    background-size: cover;
    opacity: 0.8;
}

.parallax {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.parallax, h2 {
    text-align: center;
}

.diagonale {
    display: flex;
    justify-content: flex-end;
    background-color: #1FB2AF;
    position: absolute;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 10em;
    clip-path: polygon(0 18%, 100% 3%, 100% 90%, 0 73%);

}

article {
    width: 100px;
    height: 200px;
}

article, p {
    border: 1px solid black;
    width: 25em;
    padding: 1em;

}